.header {
    background-image: url("../Images/Banner\ Image.png");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.banner {
    text-align: center;
    color: #FFF;
    padding: 230px 340px 170px 340px;
}

.banner-greeting {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.banner-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}

/* 65% off section */

.offer {
    text-align: center;
    margin-top: 120px;
}

.offer-rate {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 50px;
    margin-top: 0;
}

.deals {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.all-catagories {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 16px 196px 48px 196px;
}

/* welcome to midnight party */

.welcome-to-midnight-party {
    background-image: url("../Images/Vectorrr.png");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    text-align: left;
    margin-bottom: 0;
}

.welcome-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 24px;
}

.welcome-to-midnight-party>button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Location section and time */

.location {
    text-align: center;
    padding: 100px 385px 50px 385px;
    background-color: rgba(255, 0, 0, 0.10);
    max-width: 485px;
    margin: 0 auto;
}

.location-detail {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-top: 0;
}

.join-us {
    border-radius: 8px;
    background: #F00;
    font-size: large;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.red {
    color: #F00;
}

/* best gift section */

.best-gift {
    background-color: aqua;
    text-align: center;

}

.best-gift-div {
    margin: 0 auto;
}

.best-gift-title {
    color: #F00;
    margin-top: 120px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.best-gift-headline {
    margin-top: 0;
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.best-gift-description {
    margin-top: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.images-best-gift {
    margin: 0 auto;
}

/* subscribe related  */
/* .subscribe-container { */
    /* text-align: center; */
    /* margin-top: 120px; */
}

.subscribe-container {}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.subscribe-image{
    margin-bottom: 0;
}